//-- VARIABLES --//
$med-screen: 1079;
$sm-screen:  640;
$base-color-lt: lighten(#D3F0F4, 10%); //#E6F9FF
$base-text: darkslategrey;
$base-font: Source Sans Pro;
$highlight: white;
$circle-size: 9rem;
$sm-circle-size: 4rem;

@mixin forLargeScreens($media) {
  @media (min-width: $media/16+em) { @content; }
}

@mixin forSmallScreens($media) {
    @media (max-width: $media/16+em) { @content; }
}

* {
  padding: 0;
  margin: 0;
  font-size: 10px; // careful editing rems!
}

body {
  font-family: sans-serif;
  background: darkturquoise;
  background-image: linear-gradient(to bottom, darkturquoise, $base-color-lt  160%);
  background-attachment: fixed;
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

 .app-container {
  display: flex;
  min-height: 100%;
  background: rgba(0, 0, 0, 0); 

  .app-left-col {
    flex: 1;
    @include forSmallScreens($med-screen) {
      flex: 0;
    }
    max-width: 15%;
  }

  .app-right-col {
    flex: 1;
    @include forSmallScreens($med-screen) {
      flex: 0;
    }
    max-width: 15%;
  }

  .app-mid-col {
    flex: 2;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    .title-wrapper {
      margin-top: 3rem;
      text-align: center;

      h1.title {
        color: white;
        font-family: Raleway;
        font-size: 6rem;
        font-weight: 200;
        margin-top: 2rem;
        width: 100%;
      }

      p.subtitle {
        color: white;
        font-family: Source Sans Pro;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: 0 auto;
        text-align: center;
        @include forSmallScreens($med-screen) {
          padding: 0 70px;
        }
        width: 100%;

        span a {
          font-size: 16px;
        }
      }
    }

    .nav-selectors {
      text-align: center;
      margin: 2rem auto;
      margin-top: 5rem;

      h2 {
        color: $base-text;
        font-family: "Source Sans Pro";
        font-size: 2.5rem;
      }
  
      .panel-title {
        width: 100%;

        @include forSmallScreens($med-screen) {
          margin: 0;
        }

         a {
          background-color: $base-color-lt;
          border-radius: 40px;
          color: darkturquoise;
          font-family: $base-font;
          font-size: 4rem;
          font-weight: 200;
          margin: 0 2rem;
          padding: 0 2.25rem;
          padding-bottom: 0.25rem;
          width: 100%;

          &:hover {
            border: 8px solid white;
          }
         }
      }

      .nav-panel {
        .season-dots {
          display: flex;
          justify-content: center;
        }

         .episode-dots {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 12rem;
        }

        .season-episode {
          display: flex;
          justify-content: center;

          .season {
            margin-right: 1.5rem;
          }

          .episode {
            margin-left: 1.5rem;
          }

          p {
            font-size: 18px;
          }
          
          .select-wrap select {
            margin-bottom: 2rem;
            width: 60px;

            option {
              font-size: 16px;
            }
          }
        }

        .go-button {
          background-color: white;
          border: 2px solid white;
          border-radius: 12px;
          color: darkturquoise;
          font-size: 18px;
          height: 35px;
          margin: 0 auto;
          padding-top: 4px;
          text-align: center;
          width: 50px;

          &:hover {
            background-color: darkturquoise;
            color: white;
          }

          &:active {
            border: 4px solid white;
          }
        }
      }
    }

    div.toolbar-wrapper {
      @include forSmallScreens($med-screen) {
        margin: 0;
        text-align: center;
      }
      button.addButton {
        @include forSmallScreens($med-screen) {
          margin: 0;
          width: 90%;
        }
      }
    }
  }

}

.btn:focus {
  outline: none;
}

.btn:active:focus {
  background-color: transparent;
  outline: none;
  color: white;
  box-shadow: none;
}

#signin {
  font-family: $base-font;
  font-size: 16px;
  text-align: center;

  h2 {
    color: white;
    font-size: 2em;
  } 
  p {
    font-size: 1.25em;
  }

  .signin-header {
    background-color: darkturquoise;
  }

  .signin-body {
    display: inline-block;
    justify-content: center;

    input {
      background-color: darkturquoise;
      border: 2px solid white;
      color:  white;
      padding: 1em;
      text-align: center;
    }

    #signin-error {
      color: red;
      display: block;
      padding-top: 15px;
    }
  }

  #signin-button {
    background-color: darkturquoise;
    color: white;
  }
}

#user-info {
  p {
    color: white;
    font-family: $base-font;
    font-size: 1.25rem;
  }

  a {
    font-family: $base-font;
    font-size: 1.25rem;
  }
}
 #more-coming {
  text-align: center;
  margin: 0 auto;
 }

 #loading {
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
 }

 #nothing-here {
  color: darslategrey;
  font-family: Source Sans Pro;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-top: 9rem;
 }