@import 'App';

$base-color-lt: #E6F9FF;
$highlight: white;


.ref-detail-wrapper {
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	@include forLargeScreens($med-screen) {
		padding-left: 4 * $sm-circle-size + 1.5rem;
	}

	p {
		color: $base-text;
		font-size: 13pt;
	}

	.screengrab {
		img {
			max-width: 595px;
			@include forSmallScreens($sm-screen) {
				margin-left: -20px;
			}
		}

		.image-descrip {
			margin: 2rem 0;
		}
	}
				
	.ref-detail {
		display: flex;
		@include forSmallScreens($med-screen) {
				margin: 0 2rem;
			}

		.ref-thumb {
			img {
				max-width: 150px;
				padding-right: 1.5em;
			}
		}
		
		& > p {
			margin-top: 0;
			font-family: 'Source Sans Pro', sans-serif;
		}

		.ref-descrip {
			& > p {
				font-size: 1.75rem;
			}
			.ref-descrip-strong {
				font-weight: 600;
			}
		}

		.ref-tags {
			ul {
				display: flex;
				align-items: center;
			
				li {
					list-style-type: none;
					margin-right: 1.5rem;
					&:last-child {
						margin-right: none;
					}
				}
			}
			.detail-notes {
				font-size: 16px;
			}
		}
	}
}

.hide {
	display: none;
}

.button-link {
	background-color: $base-color-lt;
	border-radius: 10px;
	color: #2F2F2F;
	font-size: 16px;
	margin: 1rem 0;
	padding: 0.5rem;
	padding: 0.5rem 1rem;
	
	&:hover {
		cursor: pointer;
		border: 3px solid $highlight;
	}
}

.screengrab-detail {
	color: white;
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	
	.from, .to, .location {
		:first-child {
			margin-left: 0;
		}
	}

	i {
		color: #2F2F2F;
		font-size: 2rem;
		margin: 0 1rem;
	}
}

.outline {
	border: 3px solid $highlight;
}

.hr-line {
	color: $base-text;
}

.edit-button {
  background-color: $base-color-lt;
  border: 3px solid white;
  border-radius: 10px;
  color: $base-text;
  font-size: 16px;
  margin-top: 20px;
  padding: 1rem 0;
  text-align: center;

   &:hover {
    padding: 1.5rem 0;
  }

  &:active {
  	background-color: darkturquoise;
  }
}

.panel {
	margin-bottom: 0;
}













