@import 'App';

$base-color-lt: #E6F9FF;
$highlight: white;


.ref-detail-wrapper {
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	margin-left: 1rem;
	text-align: center;

	p {
		color: $base-text;
		font-size: 1.7rem;
	}

	.from-to-graph-info {
		font-size: 1.3rem;
		text-align: right;

		a {
			font-size: 1.5rem;
		}
	}

	.screengrab {
		text-align: left;
		img {
		 max-width: 675px;
			@include forSmallScreens($med-screen) {
				max-width:100%;
			}
		}

		.image-descrip {
			margin: 2rem 0;
		}
	}
				
	.ref-detail {
		text-align: left;
		@include forSmallScreens($med-screen) {
				margin: 0 2rem;
			}

		.ref-thumb {
			img {
				max-width: 150px;
				padding-right: 1.5em;
				float: left;
			}
		}
		
		& > p {
			margin-top: 0;
			font-family: 'Source Sans Pro', sans-serif;

		}

		.ref-descrip {
			& > p {
				font-size: 16px;
			}
			.ref-descrip-strong {
				font-family: Source Sans Pro;
				font-size: 18px;
				font-weight: 600;
			}
		}

		.detail-notes {
			color: darkslategrey;
			font-size: 16px;
			margin-bottom: 2rem;
		}

		.ref-tags {
			ul {
				display: flex;
				align-items: center;
			
				li {
					list-style-type: none;
					margin-right: 1.5rem;
					&:last-child {
						margin-right: none;
					}
				}
			}
		}
	}

	.ref-detail-viz-wrapper {
		margin-top: 2rem;
	}
}

.hide {
	display: none;
}

.button-link {
	background-color: $base-color-lt;
	border-radius: 10px;
	color: #2F2F2F;
	font-size: 16px;
	margin: 1rem 0;
	padding: 0.5rem;
	padding: 0.5rem 1rem;
	
	&:hover {
		cursor: pointer;
		border: 2px solid darkslategrey;
	}
}

.screengrab-detail {
	color: white;
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	text-align: center;
	
	.from, .to, .location {
		:first-child {
			margin-left: 0;
		}
	}

	i {
		color: #2F2F2F;
		font-size: 2rem;
		margin: 0 1rem;

		.fa-at {
			font-size: 1.75rem;
		}
	}

	.location {
		color: darkslategrey;
		font-family: Source Sans Pro;
		font-size: 16px;
	}
}

.outline {
	border: 2px solid darkslategrey;
}

.hr-line {
	color: $base-text;
}

.edit-button {
  background-color: $base-color-lt;
  border: 3px solid white;
  border-radius: 10px;
  color: $base-text;
  font-size: 16px;
  margin-top: 20px;
  padding: 1rem 0;
  text-align: center;

   &:hover {
    padding: 1.5rem 0;
  }

  &:active {
  	background-color: darkturquoise;
  }
}

.panel {
	margin-bottom: 0;
}













