@import 'App';

.addButton {
	background-color: transparent;
	border: 2px solid paleturquoise;
	border-radius: 25px;
	box-shadow: none;
	color: paleturquoise;
	margin: 0 auto;
	margin-top: 2rem;
	text-align: center;
	width: 100px;

	&:focus {
		border: 2px solid paleturquoise;
		box-shadow: none;
		background-color: transparent;
		color: white;
	}

	&:active {
		background-color: white;
		color: darkturquoise;
		box-shadow: none;
		border: none;
	}

	&:hover {
		background-color: transparent;
		border: 2px solid white;
		color: white;
		box-shadow: none;
	}

	&:active:focus {
		background-color: white;
	}

	&:active:focus:hover {
		background-color: white;
		color: darkturquoise;
		box-shadow: none;
		border: none;
	}
}